.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15px;
  gap: 26px;
}

@media screen and (min-width: $breakpoint_tablet) {
  .cards {
    padding-top: 20px;
  }
}

@media screen and (min-width: $breakpoint_laptop) {
  .cards {
    padding-top: 25px;
  }
}
