.button {
  padding: 15px 20px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  border: none;
  max-width: 205px;
  transition: background-color linear 0.2s;
  cursor: pointer;
}

@media screen and (min-width: $breakpoint_tablet) {
  .button {
    padding: 20px 30px;
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (min-width: $breakpoint_laptop) {
  .button {
    &:hover {
      background-color: $color_grey_3;
      transition: background-color linear 0.2s;
    }
  }
}

@media screen and (min-width: $breakpoint_laptop_2) {
  .button {
    padding: 26px 38px;
  }
}
