/*Нормализация стилизации в разных браузерах*/
@import '../vendor/normalize.css';

/*Подключение шрифтов*/
@import 'https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Prata&family=Roboto:wght@300;400;500;700&display=swap';

/*Подключение стилей для страницы*/
@import '../bloks/page/page.scss';

/*Подключение стилей для header*/
@import '../bloks/header/header.scss';
@import '../bloks/logo/logo.scss';

/*Подключение стилей для main*/
@import '../bloks/main/main.scss';

@import '../bloks/bunner/bunner.scss';

@import '../bloks/goods/goods.scss';
@import '../bloks/title/title.scss';
@import '../bloks/cards/cards.scss';
@import '../bloks/card/card.scss';

/*Подключение стилей для footer*/
@import '../bloks/footer/footer.scss';
